{
  "classes": {
    "org.bukkit.entity.Player": "Player",
    "org.bukkit.inventory.Inventory": "Inventory",
    "org.bukkit.inventory.ItemStack": "ItemStack",
    "org.bukkit.inventory.meta.ItemMeta": "ItemMeta",
    "org.bukkit.Material": "Material",
    "org.bukkit.Bukkit": "Bukkit",
    "org.bukkit.event.inventory.InventoryClickEvent": "InventoryClickEvent",
    "org.bukkit.inventory.InventoryHolder": "InventoryHolder",
    "com.snj.ItemCreator": "ItemCreator",
    "org.bukkit.inventory.InventoryView": "InventoryView"
  }
}
